<main class="" style="margin-bottom: 15px">

  <h1 class="mb-4 text-white">Recipes</h1>
  <div class="custom-cards-container">
    {{#each recipes as |recipe|}}
      <div class="custom-card-container">
        <img src="{{image}}" class="custom-card-image" alt="..." />
        <div class="custom-card-details">
          <h4 class="custom-card-name">
            <a href="/recipe/{{id}}" class="text-black">{{name}}</a>
          </h4>
          <p class="custom-card-date">
            Posted by
            {{user.name}}
            on
            {{format_date date_created}}
          </p>
        </div>
      </div>
    {{/each}}
  </div>
</main>