<main class="container" style="margin-bottom: 15px">

  <h1 class="mb-4 text-white">Recipes</h1>
  <div class="row">
    <div class="row row-cols-2 row-cols-md-2">
      <div class="col"></div>
      {{#each recipes as |recipe| }}

      <div class="card">
        <img src="{{image}}" class="card-img-top card-image" alt="..." />
        <div class="card-body">
          <h5 class="card-title">
            <a href="/recipe/{{id}}" class="text-black">{{name}}</a>
          </h5>
          <p class="card-text">
          <div class="card-body text-black">
            <p>Created by: {{user.name}} on {{format_date date_created}}</p>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
</main>