<main class="container mt-5">
  <article>
    <h1>{{name}}</h1>
    <p>{{instructions}}</p>
    <p>Created by: {{user.name}} on {{format_date date_created}}</p>
    <img src="{{image}}" class="recipe-image"></img>
  </article>
</main>