<main class="mt-5 custom-main-container">
  <article>
    <h1>{{name}}</h1>
    <p>{{instructions}}</p>
    <p>Posted by {{user.name}} on {{format_date date_created}}</p>
    <img class="custom-image" src="{{image}}"></img>
  </article>
</main>
</main>